apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bloodbank.fullname" . }}-backend
  labels:
    {{- include "bloodbank.backend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "bloodbank.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        {{- include "bloodbank.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://{{ include "bloodbank.fullname" . }}-mysql:3306/blood
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.security.secretName }}
                  key: db-username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.security.secretName }}
                  key: db-password
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: {{ .Values.backend.env.spring.jpa.hibernate.ddl-auto | quote }}
            - name: SPRING_MAIL_HOST
              value: {{ .Values.backend.env.spring.mail.host | quote }}
            - name: SPRING_MAIL_PORT
              value: {{ .Values.backend.env.spring.mail.port | quote }}
            - name: SPRING_MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.security.secretName }}
                  key: mail-username
            - name: SPRING_MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.security.secretName }}
                  key: mail-password
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
      restartPolicy: Always

